* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: block;
}

.navbar-main {
  position: sticky;
  top: 0;
}

.off-canvas .off-canvas-sidebar-show {
  padding: 0;
  margin: 0;
}

.navbar ul {
  display: inline;
  margin: 0;
  padding: 10px;
}

.navbar li {
  display: inline;
}

.navbar li a {
  margin: 2px;
  padding: 5px;
  text-decoration: none;
  background: white;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
}

.navbar li a:hover {
  background: rgb(200, 200, 200);
}

.navbar li a:active {
  background: rgb(200, 200, 200);
  text-decoration: underline;
}

.navbar li a:visited {
  color: black;
}

.header-main {
  height: 80vh;
  background: gray;
  text-align: center;
}

.site-logo {
  padding-top: 45vh;
  text-align: right;
}

.site-logo h1 {
  font-size: 4vw;
}

.site-moto {
  text-align: right;
}

.site-moto h3 {
  width: 50%;
  float: right;
  font-size: 90%;
}

.content-main {
  background: red;
  text-align: center;
  padding: 4vh 0vh 4vh 0vh;
}

.post-feed {
  background: rgb(180, 180, 180);
}

.post-title h1 {
  font-weight: bolder;
  font-family: serif;
  margin: 0;
}

.post-title h4 {
  font-family: fantasy;
  font-weight: 100;
  font-size: 80%;
}

.post-content {
  font-family: times;
  padding: 4vh 0vh 3vh 0vh;
}

.post-content img {
  max-width: 95%;
  min-width: 95%;
  object-fit: contain;
}

.post-content p {
  text-align: left;
  padding: 2% 10% 0% 10%;
}

.post-footer {
  text-align: right;
}

.post-footer .comments {
  display: inline;
  border: 2px solid blue;
}

.post-footer .social {
  display: inline;
  border: 2px solid red;
}

.site-pagination ul {
  justify-content: center;
}

.main-footer {
  background: blue;
  padding: 20px;
}

.navbar-footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar-footer ul li {
  list-style-type: none;
  display: inline;
  padding: 0px 10px 0px 10px;
}

.navbar-footer li a {
  color: white;
  text-decoration: none;
}

.navbar-footer li a:hover {
  color: white;
  border-bottom: 1px solid white;
}

.navbar-footer li a:active {
  color: black;
}

.navbar-footer li:visited {
  color: white;
}

.main-footer-instagram {
  margin-top: 20px;
  background: gray;
  height: 30vh;
}

.about-section {
  background-image: url(https://ak6.picdn.net/shutterstock/videos/12686396/thumb/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 20px;
}

.about-feed {
  background: rgba(200, 200, 200, 0.5) ;

}

.about-feed >* {
  border: 1px solid blue;
  color: black;
  padding: 0;
  margin: 0;
}


.about-content{
  padding: 20px;
}
.about-content >*{
border: 2px solid black;
}

.about-text{
  text-align:justify;
  padding: 30px;
}


.about-profile >*{
  text-align: left;
  padding: 0;
  margin: 0;
}
.about-profile img{
  width: 100%;
}

.about-profile #name{
  font-size: 1.2rem ;
  font-style: italic;
  font-family: sans-serif;
}

.about-profile #phone{
  font-style: italic;
  font-family:sans-serif;
}

.about-profile #email{
  font-style: italic;
  font-family:sans-serif;
  color: black;
}
.about-profile #email a{
  color: black;
}


@media screen and (max-width: 960px) {
  .navbar ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  .navbar ul li {
    display: block;
  }

  .navbar li a {
    display: block;
    text-decoration: none;
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 4px;
  }
}
