<main class="content-main">
    <section class="col-8 col-lg-10 col-md-11 col-sm-12 col-mx-auto about-section">
        <article class="about-content">
            <header>
                <h1>About</h1>
            </header>
            <div class="about-feed columns ">
                <div class="about-text column col-9 col-lg-7 col-sm-12">
                    <p>text here text heretext heretext heretext heretext heretextherete
                        xt heretext heretextheretext heretextheretext heretext heretext heretext heretext heretext
                        heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext
                        heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext
                        heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext
                        heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext
                        heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext
                        heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext
                        heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext
                        heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext
                        heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext
                        heretext heretext heretext heretext heretext heretext heretext heretext heretext heretext
                        heretext heretext heretext heretext heretext heretext heretext heretext here</p>
                </div>
                <div class="about-profile column col-3 col-lg-5 col-sm-8 col-mx-auto">
                    <img src="images/profile.png" alt="">
                    <p id="name"> Dejan Arsnijevic</p>
                    <p id="phone"> 072-93289723</p>
                    <p id="email"> Email: <a href="mailto: abc@example.com">dejansky@example.com</a></p>
                </div>
            </div>
            <footer class="about-footer">
                <h1>footer</h1>
            </footer>
        </article>
    </section>
</main>