<main class="content-main">
    <section class="col-8 col-lg-10 col-md-11 col-sm-12 col-mx-auto">
        <article class="contact-content">
            <h1>Contact</h1>
            <div>
                <p>
                    Feel free to contact me by using the contact form bellow :) 
                </p>
            </div>
            <form class="columns">
                <div class="col-8 col-lg-12">
                    <textarea class="col-12" name="subject" id="subject" cols="30" rows="10" placeholder="Your text here..."></textarea>
                    
                </div>
                <div class="col-4 col-lg-12 contact-container">
                    <table>
                        <tr>
                            <td>
                                <label for="firstName">First Name  </label>
                            </td>
                            <td>
                                <input type="text" name="firstName" placeholder="Your name! ">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="lastName">Last Name  </label>
                            </td>
                            <td>
                                <input type="text" name="lastName" placeholder="Your last name! ">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">Email: </label>
                            </td>
                            <td>
                                <input type="text" name="email" placeholder="Enter your email! ">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input style="float: left;" type="submit" value="Submit!">
                            </td>
                        </tr>
                    </table>
                </div>
                
            </form>
        </article>
    </section>
</main>