{{#if error}}
    {{>errors errors}}
{{else}}
    {{#if posts.length}}
        {{#each posts}}
            <section class="col-8 col-lg-10 col-md-11 col-sm-12 col-mx-auto">

                <article class="post-content ">

                    <header class="post-title">
                        <h1>{{post_title}}</h1>
                    </header>

                    <div class="post-feed">
                        <p>{{post_content}}</p>
                    </div>

                    <footer class="post-footer">
                        
                    </footer>
                </article>
            </section>
        {{/each}}
    {{else}}
        <p>No posts found</p>
    {{/if}}

{{/if}}