<main class="content-main">
    <section class="col-8 col-lg-10 col-md-11 col-sm-12 col-mx-auto">
        <article class="login-content ">

            <header class="login-title">
                <h1>Login Page</h1>
            </header>

            <div class="login-feed ">
                <table>
                    <tr>
                        <td>
                            <label for="uname"><b>Username</b></label>
                        </td>
                        <td>
                            <input type="text" placeholder="Enter Username" name="uname" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="psw"><b>Password</b></label>
                        </td>
                        <td>
                            <input type="password" placeholder="Enter Password" name="psw" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">Login</button>
                            <button type="button" class="cancelbtn">Cancel</button>
                        </td>
                        <td>
                            <span class="psw">Forgot <a href="#">password?</a></span>
                        </td>

                    </tr>

                </table>
            </div>

        </article>
    </section>
</main>