<section class="col-8 col-lg-10 col-md-11 col-sm-12 col-mx-auto">
    {{#if error}}
        {{>errors errors}}
    {{else}}
        <article class="login-content ">

            <header class="login-title">
                <h1>Login Page</h1>
            </header>
            {{>errors errors}}
            <div class="login-feed ">
                <form method="POST">
                    <table>
                        <tr>
                            <td>
                                <label for="uname"><b>Username</b></label>
                            </td>
                            <td>
                                <input type="text" placeholder="Enter Username" name="entered_username" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="psw"><b>Password</b></label>
                            </td>
                            <td>
                                <input type="password" placeholder="Enter Password" name="entered_password" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                <input type="submit" value="Login" formmethod="POST" formaction="/login">
                            </td>
                        </tr>

                    </table>
                </form>
            </div>
        </article>
    {{/if}}
</section>