<section class="panel-display col-10">
    <form action="">
        <table class="panel-table col-12">
            <tr>
                <th colspan="3" class="panel-th">
                    Welcome to the panel
                </th>
            </tr>
            <tr>
                <td colspan="3" id="panel-table-description">
                    Description.............
                </td>
            </tr>

            <tr>
                <td>
                    Object one
                </td>
                <td>
                    object two
                </td>
                <td>
                    object three
                </td>
            </tr>
            <tr>
                <td colspan="3" style="border: 2px solid green;">
                    object four
                </td>
            </tr>
        </table>
    </form>
</section>