<section class="panel-display col-10">
    <form action="">
        <table class="panel-table col-12">
            <tr>
                <th colspan="3" class="panel-th">
                    Welcome to the panel
                </th>
            </tr>

            <tr>
                <td colspan="3">
                    <p>Your contact information</p>
                </td>
            </tr>
        </table>
        <section class="panel-contact">
            <div id="row">
                <p>
                    Name:
                </p>
                <p>
                    Firstname Lastname
                </p>
            </div>
            <div id="row">
                <p>
                    Email:
                </p>
                <p>
                    mycurrentemail@email.com
                </p>
            </div>
            <div id="row">
                <p>
                    Message:
                </p>
                <br>
                <p>
                    the users Message
                </p>
            </div>
            <footer id="panel-contact-footer">
                <button>Delete</button>
            </footer>
        </section>
    </form>
</section>