<section class="panel-display col-10">
    <form action="">
        <table class="panel-table col-12">
            <tr>
                <th colspan="3" class="panel-th">
                    Welcome to the panel
                </th>
            </tr>
            <tr>
                <td colspan="3" id="panel-table-description">
                    Description.............
                </td>
            </tr>
        </table>
        <div class="col-12 ">
            <section class="panel-projects">
                <header class="panel-projects-header">
                    <p>Title:the_title</p>
                    <p>Author:the_author</p>
                    <p>Date Published: 00/00/0000</p>
                    <p>Project link</p>
                </header>
                <div class="panel-project-img-wrapper">
                    <p>Thumbnail:</p>
                    <br>
                    <img src="https://media-exp1.licdn.com/dms/image/C561BAQE7MVqDpP_Gxg/company-background_10000/0/1556621459534?e=2159024400&v=beta&t=ouGkWQ6kxmWDsDdK9Sik57UjuW1Z-tkY9j_yV7Lxsp4"
                        alt="">
                        <br>
                    <p>
                        thumbnail link:
                    </p>
                </div>

                <article class="panel-projects-content">
                    <p id="panel-projects-text">Content:</p>
                    <textarea name="" id="panel-projects-textarea"></textarea>
                </article>
                <footer class="panel-projects-footer">
                    <Button>Delete</Button>
                    <button>Update</button>
                </footer>
            </section>

            <section class="panel-create-project">
                <div id="row">
                    <p>Title:</p>
                    <input type="text" name="project_name" placeholder="Enter title" value="">
                </div>
                <div id="row">
                    <p>Thumbnail:</p>
                    <input type="text" name="project_thumbnail" placeholder="Enter the thumbnail link" value="">
                </div>
                <div id="row">
                    <p>Link:</p>
                    <input type="text" name="project_link" placeholder="Enter the project link" value="">
                </div>
                <article class="panel-create-project-content">
                    <p>Add Content:</p>
                    <textarea name="project_content" id="create-project-textarea"></textarea>
                </article>

                <footer class="panel-projects-footer">
                    <button>Create</button>
                </footer>
            </section>

        </div>
    </form>
</section>