<main class="content-main">
    <section class="panel-section columns">
        <aside class="panel-nav col-2">
            <ul>
                <li>
                    <a href="/panel/panel-main">General Settings</a>
                </li>
                <li>
                    <a href="/panel/panel-posts">Post</a>
                </li>
                <li>
                    <a href="/panel/panel-pages">Pages</a>
                </li>
                <li>
                    <a href="/panel/panel-media">Media</a>
                </li>
            </ul>
        </aside>

        <section class="panel-display col-10">
            <form action="">
                <header>
                    <h1>General Setting</h1>
                </header>
                <table class="panel-table">
                   <tr>
                       <td>
                           <p>Hello</p>
                       </td>
                       <td>
                           <p>Hellsfsdfsdsfo</p>
                       </td>
                   </tr>
                </table>
                <footer>
                    <input type="submit" name="" id="" value="Apply Changes">
                </footer>
            </form>
        </section>


    </section>
</main>