<main class="content-main">
    <section class="col-9 col-lg-10 col-md-11 col-sm-12 col-mx-auto columns project-section">

        <article class="projects-content col-3 col-lg-5 col-sm-11">

            <header class="projects-header">
                <p id="title">
                    Title somethifnf dfdfddfdfdf
                </p>
                <p id="author">
                    Author,date ....
                </p>
            </header>

            <div class="projects-feed">
                <p>Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world </p>
            </div>

            <footer class="projects-footer col-12">
                <div class="social">
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                </div>
                <div class="comments">
                    <i class="icon icon-1x icon-mail"></i> 33
                </div>
                <div class="readmore">
                    <button>Readmore</button>
                </div>
            </footer>
        </article>

        <article class="projects-content col-3 col-lg-5 col-sm-11">

            <header class="projects-header">
                <p id="title">
                    Title somethifnf dfdfddfdfdf
                </p>
                <p id="author">
                    Author,date ....
                </p>
            </header>

            <div class="projects-feed">
                <p>Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world </p>
            </div>

            <footer class="projects-footer col-12">
                <div class="social">
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                </div>
                <div class="comments">
                    <i class="icon icon-1x icon-mail"></i> 33
                </div>
                <div class="readmore">
                    <button>readmore</button>
                </div>
            </footer>
        </article>

        <article class="projects-content col-3 col-lg-5 col-sm-11">

            <header class="projects-header">
                <p id="title">
                    Title somethifnf dfdfddfdfdf
                </p>
                <p id="author">
                    Author,date ....
                </p>
            </header>

            <div class="projects-feed">
                <p>Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world </p>
            </div>

            <footer class="projects-footer col-12">
                <div class="social">
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                </div>
                <div class="comments">
                    <i class="icon icon-1x icon-mail"></i> 33
                </div>
                <div class="readmore">
                    <button>readmore</button>
                </div>
            </footer>
        </article>

        <article class="projects-content col-3 col-lg-5 col-sm-11">

            <header class="projects-header">
                <p id="title">
                    Title somethifnf dfdfddfdfdf
                </p>
                <p id="author">
                    Author,date ....
                </p>
            </header>

            <div class="projects-feed">
                <p>Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world </p>
            </div>

            <footer class="projects-footer col-12">
                <div class="social">
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                </div>
                <div class="comments">
                    <i class="icon icon-1x icon-mail"></i> 33
                </div>
                <div class="readmore">
                    <button>readmore</button>
                </div>
            </footer>
        </article>

        <article class="projects-content col-3 col-lg-5 col-sm-11">

            <header class="projects-header">
                <p id="title">
                    Title somethifnf dfdfddfdfdf
                </p>
                <p id="author">
                    Author,date ....
                </p>
            </header>

            <div class="projects-feed">
                <p>Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world </p>
            </div>

            <footer class="projects-footer col-12">
                <div class="social">
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                </div>
                <div class="comments">
                    <i class="icon icon-1x icon-mail"></i> 33
                </div>
                <div class="readmore">
                    <button>readmore</button>
                </div>
            </footer>
        </article>

        <article class="projects-content col-3 col-lg-5 col-sm-11">

            <header class="projects-header">
                <p id="title">
                    Title somethifnf dfdfddfdfdf
                </p>
                <p id="author">
                    Author,date ....
                </p>
            </header>

            <div class="projects-feed">
                <p>Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello
                    world Hello world Hello world Hello world Hello world Hello world </p>
            </div>

            <footer class="projects-footer col-12">
                <div class="social">
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                    <i class="icon icon-1x icon-link"></i>
                </div>
                <div class="comments">
                    <i class="icon icon-1x icon-mail"></i> 33
                </div>
                <div class="readmore">
                    <button>readmore</button>
                </div>
            </footer>
        </article>


    </section>
</main>

<section class="site-pagination  col-12">
    <ul class="pagination ">
        <li class="page-item disabled">
            <a href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active">
            <a href="#">1</a>
        </li>
        <li class="page-item">
            <a href="#">2</a>
        </li>
        <li class="page-item">
            <a href="#">3</a>
        </li>
        <li class="page-item">
            <span>...</span>
        </li>
        <li class="page-item">
            <a href="#">12</a>
        </li>
        <li class="page-item">
            <a href="#">Next</a>
        </li>
    </ul>
</section>