<main class="content-main">
    <section class="col-8 col-lg-10 col-md-11 col-sm-12 col-mx-auto">
        <article class="login-content ">

            <header class="login-title">
                <h1>Register Page</h1>
            </header>

            <div class="login-feed ">
                <table>
                    <tr>
                        <td>
                            <label for="fname"><b>First name</b></label>
                        </td>
                        <td>
                            <input type="text" placeholder="First Name" name="fname" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="lname"><b>Last name</b></label>
                        </td>
                        <td>
                            <input type="text" placeholder="Last Name" name="lname" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="uname"><b>Username</b></label>
                        </td>
                        <td>
                            <input type="text" placeholder="Username" name="uname" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="psw"><b>Password</b></label>
                        </td>
                        <td>
                            <input type="password" placeholder="Password" name="psw" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="psw"><b>Password</b></label>
                        </td>
                        <td>
                            <input type="passwordR" placeholder="Repeat Password" name="pswR" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email"><b>Email</b></label>
                        </td>
                        <td>
                            <input type="text" placeholder="Email" name="email" required>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" style="float: right;">Submit</button>
                        </td>
                    </tr>
                </table>

                <span class="psw">Already have an account? <a href="/login">Login</a></span>

            </div>

        </article>
    </section>
</main>