* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: block;
}

.navbar-main {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.off-canvas .off-canvas-sidebar-show {
    padding: 0;
    margin: 0;
}

.navbar ul {
    margin: 0px;
    padding: 0px;
}

.navbar li {
    display: inline-block;
    margin: 0px;
    padding: 5px 2px 5px 2px;
}

.navbar li a {
    margin: 0px;
    padding: 5px;
    text-decoration: none;
    background: white;
    color: black;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-size: 16px;
}

.navbar li a:hover {
    background: rgb(200, 200, 200);
}

.navbar li a:active {
    background: rgb(200, 200, 200);
    text-decoration: underline;
}

.navbar li a:visited {
    color: black;
}

#logout-btn {
    border: none;
    margin: 0px;
    padding: 3px;
    font-size: 16px;
    text-decoration: none;
    background: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#logout-btn:hover {
    background: rgb(200, 200, 200);
}

#logout-btn input {
    margin: 0px !important;
    padding: 0px !important;
}

.header-main {
    text-align: center;
}

.header-main section {
    z-index: 999;
    margin-top: -45vh;
    margin-bottom: 30vh;
    position: relative;
}

.img-wrapper-main {
    z-index: 0;
    overflow: hidden;
    height: 80vh;
    width: 100%;
}

.img-wrapper-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.site-logo {
    text-align: right;
}

.site-logo h1 {
    font-size: 6vw;
    color: black;
    padding: 0;
    margin: 0;
    font-family: 'Bilbo Swash Caps', cursive;
}

.site-moto {
    padding: 0;
    display: inline-block;
    text-align: right;
    color: black;
}

.site-moto h3 {
    float: right;
    text-align: right;
    font-size: 90%;
    padding: 0px 20px 0px 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.content-main {
    text-align: center;
    padding: 4vh 0vh 4vh 0vh;
}

.post-content {
    margin: 30px 0px 30px 0px;
    background: rgba(130, 130, 130, 0.2);
}

.post-title h1 {
    font-weight: bolder;
    font-family: serif;
    margin: 0;
    padding-top: 15px;
    font-family: 'Martel Sans', sans-serif;
}

.post-feed {
    text-align: left;
    font-family: times;
    padding: 4vh 0vh 3vh 0vh;
    font-family: 'Martel', serif;
}

.post-feed img {
    max-width: 95%;
    min-width: 95%;
    object-fit: contain;
}

.post-feed p {
    text-align: left;
    padding: 0% 10% 0% 10%;
    font-size: 150%;
}

.post-footer {
    text-align: right;
    border-top: 1px solid black;
    padding: 4px;
}

.post-footer .comments {
    display: inline;
    padding: 4px;
}

.comments p {
    display: inline;
}

.post-footer .social {
    display: inline;
    padding: 4px;
}

.main-footer {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 20px 0px 20px;
    margin: 0px;
}

.navbar-footer ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar-footer ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 10px 0px 10px;
}

.navbar-footer li a {
    color: white;
    text-decoration: none;
}

.navbar-footer li a:hover {
    color: white;
    border-bottom: 1px solid white;
}

.navbar-footer li a:active {
    color: black;
}

.navbar-footer li:visited {
    color: white;
}

.main-footer-table {
    background: gray;
    margin-top: 20px;
    font-family: 'Martel Sans', sans-serif;
}

.main-footer-table>* {
    display: inline-block;
    padding: 30px;
    border: 1px solid black;
}

.main-footer-table header {
    text-align: center;
    color: black;
}

.main-footer-table article>* {
    color: black;
    padding: 0px;
    margin: 0px;
    font-family: 'Martel', serif;
}

.main-footer #copyright {
    padding: 10px 0px 0px 0px;
    text-align: center;
    color: white;
}

.about-section {
    background-image: url(https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 20px;
}

.about-content {
    background: rgba(200, 200, 200, 0.5);
    font-family: 'Martel Sans', sans-serif;
}

.about-content>* {
    color: black;
    padding: 0;
    margin: 0;
}

.about-feed {
    padding: 20px;
}

.about-text {
    text-align: justify;
    padding: 30px;
    font-family: 'Martel', serif;
}

.about-profile>* {
    text-align: left;
    padding: 0;
    margin: 0;
}

.about-profile-img-wrapper {
    height: 60%;
    margin: 0 auto;
}

.about-profile-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-profile p {
    text-align: left;
    padding: 0;
    margin: 0;
    font-family: 'Martel', serif;
    color: black;
}

.about-profile #name {
    font-size: 1.2rem;
}

.about-profile #email {
    font-style: italic;
    color: black;
    font-weight: bold;
}

.about-profile #email a {
    color: black;
}

.contact-content {
    background-color: rgba(130, 130, 130, 0.2);
    padding: 20px;
    font-family: 'Martel Sans', sans-serif;
}

.contact-content form div {
    display: inline-block;
    font-family: 'Martel', serif;
}

.project-section {
    background: rgba(130, 130, 130, 0.2);
}

.projects-content {
    background: white;
    overflow: hidden;
    border-radius: 8px 8px 3px 3px;
    margin: 3% 4.125% 3% 4.125%;
    padding: 0%;
}

.projects-header {
    display: block;
    text-align: center;
    filter: grayscale(60%);
    z-index: -1;
}

.img-wrapper-projects {
    height: 20vh;
}

.img-wrapper-projects img {
    object-fit: fill;
    width: 100%;
    height: auto;
    z-index: -1 !important;
    position: relative;
    border-bottom: 1px solid black;
}

.projects-header:hover {
    filter: grayscale(0%);
}

.projects-header #title {
    padding: 0px 0px;
    margin-top: -25%;
    margin-bottom: 25%;
    font-size: 1vw;
    color: white;
    background-color: rgba(130, 130, 130, 0.8);
    z-index: 1;
}

.projects-header #author {
    padding: 0px 0px;
    margin: 0px 0px;
    color: black;
    background-color: rgba(200, 200, 200, 0.5)
}

.projects-feed {
    margin: 0px;
}

.projects-feed p {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    line-height: 22px;
    font-size: 22px;
    max-height: 5vh;
}

.projects-feed p:hover {
    max-height: none;
}

.projects-footer {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.projects-footer .social {
    float: left;
    margin: 0px 4px;
}

.projects-footer .comments {
    float: left;
    margin: 0px 4px;
}

.projects-footer .readmore {
    float: right;
    border-radius: 2px;
    margin: 0px 4px;
}

.login-content {
    background: rgba(130, 130, 130, 0.2);
    padding: 20px;
}

.login-title {
    color: black;
}

.login-feed * {
    text-align: left;
    margin: 0% auto;
}

.panel-section {
    padding: 20px;
    background-color: white;
}

.panel-nav {
    margin: 0%;
    padding: 0%;
    background-color: white;
}

.panel-nav ul {
    margin: 0;
    padding: 10px;
}

.panel-nav ul li {
    display: block;
}

.panel-nav ul li p {
    background: white;
    padding: 6px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.panel-nav ul li a {
    display: block;
    background: black;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    margin: 2px 0px 2px 0px;
    padding: 4px 0px 4px 0px;
    border: 1px solid transparent;
}

.panel-nav ul li a:hover {
    background: whitesmoke;
    text-decoration: none;
    color: black;
    border: 1px solid black;
}

.panel-nav ul li a:active {
    background: gray;
}

.panel-nav ul li a:visited {
    color: white;
    background: black;
}

#panel-input-button {
    min-width: auto !important;
}

.panel-display {
    margin: 0%;
    padding: 20px;
    background-color: rgba(130, 130, 130, 0.2);
}

.panel-table {
    background-color: darkgray;
    text-align: center;
}

.panel-th {
    text-align: center !important;
    font-weight: bold;
    font-size: 4vh;
}

#panel-table-description {
    text-align: center !important;
}

.panel-settings {
    background-color: lightgoldenrodyellow;
    padding: 20px;
}

.panel-settings #row>* {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.panel-settings #row {
    text-align: left;
    border-bottom: 1px solid black;
}

.panel-settings #row p:nth-child(1) {
    font-style: italic !important;
}

.panel-settings #row input {
    display: block !important;
    width: 50%;
    font-weight: lighter !important;
    font-style: italic;
}

.panel-settings #row textarea {
    display: block !important;
    width: 50%;
    font-weight: normal !important;
    font-style: italic;
}

.panel-settings #row img {
    display: block !important;
    max-width: 10%;
    object-fit: contain;
}

#panel-settings-footer>* {
    display: block;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.panel-posts {
    text-align: left;
    background-color: lightblue;
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
}

.panel-posts-header {
    border-bottom: 1px solid black;
    padding: 0px;
    margin: 0px;
}

.panel-posts-header>* {
    display: inline-block;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    font-weight: bold;
    border-right: 2px solid black;
}

.panel-posts-content {
    padding: 10px;
    background-color: lightgoldenrodyellow;
}

.panel-posts-content>* {
    margin: 0px;
    padding: 0px;
}

.panel-posts-content #panel-posts-text {
    background-color: beige;
}

#panel-posts-textarea {
    width: 100%;
    height: auto;
    resize: none;
}

.panel-posts-footer {
    background-color: gray;
}

.panel-create-post {
    text-align: left;
    background-color: lightblue;
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid black;
    padding: 10px;
}

.panel-create-post #row>* {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.panel-create-post input {
    font-style: italic;
    padding: 0px;
}

.panel-create-post-content {
    padding: 10px;
    background-color: lightgoldenrodyellow;
}

.panel-create-post-content>* {
    margin: 0px;
    padding: 0px;
}

.panel-create-post #create-post-textarea {
    width: 100%;
}

.panel-contact {
    background-color: lightgoldenrodyellow;
    padding: 10px;
    border: 2px solid black;
    margin: 5px 0px 5px 0px;
}

.panel-contact #row>* {
    display: inline-block !important;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.panel-contact #row {
    text-align: left;
    border-bottom: 1px solid black;
}

.panel-contact #row p:nth-child(1) {
    font-style: italic !important;
}

.panel-contact #row input {
    font-weight: lighter !important;
    font-style: italic;
    padding: 0px 3px 0px 3px;
}

#panel-contact-footer>* {
    display: block;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
}

.panel-contact #panel-contact-mewssage-wrapper {
    padding: 3px;
    margin: 2px 0px 2px 0px;
    background-color: rgb(255, 255, 244);
    width: 100%;
}

div#div.div div.div {
    background-color: black;
}

.panel-projects {
    text-align: left;
    background-color: lightblue;
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}

.panel-projects-header input {
    min-width: 25% !important;
    border: 1px solid black;
    font-weight: normal;
}

.panel-projects-header {
    border-bottom: 1px solid black;
    padding: 0px;
    margin: 0px;
}

.panel-projects-header>* {
    display: inline-block;
    padding: 0px 5px 0px 5px;
    margin: 0px;
    font-weight: bold;
    border-right: 2px solid black;
}

.panel-projects-content {
    padding: 10px;
    background-color: lightgoldenrodyellow;
}

.panel-projects-content>* {
    margin: 0px;
    padding: 0px;
}

.panel-projects-content #panel-projects-text {
    background-color: beige;
}

.panel-project-img-wrapper {
    font-weight: bold;
    width: 100%;
}

.panel-project-img-wrapper input {
    width: 25% !important;
}

.panel-project-img-wrapper>* {
    margin: 5px 0px 5px 0px;
    display: block;
}

.panel-project-img-wrapper img {
    object-fit: contain;
    max-width: 10%;
}

#panel-projects-textarea {
    width: 100%;
    height: auto;
    resize: none;
}

.panel-projects-footer {
    background-color: gray;
}

.panel-create-project {
    text-align: left;
    background-color: lightblue;
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
}

.panel-create-project #row>* {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.panel-create-project #row input {
    font-style: italic;
    font-weight: normal !important;
    padding: 0px;
    min-width: 25%;
}

.panel-create-project-content {
    padding: 10px;
    background-color: lightgoldenrodyellow;
}

.panel-create-project-content>* {
    margin: 0px;
    padding: 0px;
}

.panel-create-project #create-project-textarea {
    width: 100%;
}


/* Overriding the pagination looks*/

.site-pagination ul {
    justify-content: center;
}

.pagination .page-item.active a {
    color: black;
    background: white;
    border: 1px solid black;
    border-radius: .1rem;
    display: inline-block;
    padding: .2rem .4rem;
    text-decoration: none;
}

.pagination a {
    color: white;
    background: black;
}

.pagination .page-item a:hover {
    color: white;
    background: gray;
}

.contact-container table {
    margin: 0 auto;
    text-align: left;
    border-spacing: 1em 1em;
}


/*Commets design*/

.comments-container {
    padding: 20px;
}

.comments-innerContainer {
    border: 2px solid white;
    display: inline-block;
}

.comments-header {
    text-align: left;
    border-bottom: 2px solid darkgray;
    display: inline-block;
}

#comments-username {
    padding: 10px;
    padding-bottom: 0px;
    margin: 0px;
    float: left;
    font-weight: bold;
}

#comments-date {
    margin: 0px;
    float: left;
    padding: 10px;
    padding-bottom: 0px;
    font-weight: lighter;
}

.comments-theComment {
    padding: 10px;
    margin: 0px 10px 5px 10px;
    text-align: left;
    background-color: white;
    color: black;
}

.comments-replayComment {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    text-align: none;
    display: block;
}

.comments-replayComment::after {
    content: "";
    clear: both;
    display: block;
}

.comments-textarea {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

.error-container {
    color: black;
    margin: 0px;
    padding: 0px;
}

.error-container>* {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.error-container ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.error-container ul li {
    font-weight: bold;
    color: red;
    margin: 0px;
    padding: 0px;
}

#success {
    font-weight: bold;
    color: green;
    font-size: 2vw;
}


/*Overriding the off-canvas btn*/

.btn.btn-primary {
    background: black !important;
    border-color: black !important;
    color: #fff !important;
}

@media screen and (max-width: 960px) {
    .navbar ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .navbar ul li {
        padding: 0px;
        margin: 2px 0px 2px 0px;
        display: block;
        border-style: hidden;
    }
    .navbar li a {
        display: block;
        text-decoration: none;
        background: white;
        color: black;
        border-bottom: 1px solid black;
    }
}